@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --background: #FCFAEF;
  --foreground: #211F1D;
  --peach: #DEB8A5;
  --green: #234541;
  --rust: #874C43;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--foreground);
    --foreground: var(--background);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Nunito, sans-serif;
}

h1 {
  color: var(--green);
}
h2 {
  color: var(--rust);
}

.btn-rust {
  background-color: var(--rust);
  color: var(--background);
}

.btn-green {
  background-color: var(--green);
  color: var(--background);
}